@import "https://at.alicdn.com/t/font_2063331_0jf2is8eh5n.css";

.wrapper {
    width: 430px;
    height: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 2px 2px 10px 1px #949494;
    border-radius: 3px;
}

.wrapper h1 {
    text-align: center;
    padding: 35px 0px;
    font-family: monospace;
    background: linear-gradient(160deg, #546dff, #ac6efe, #75e6ff);
    color: #eee;
    border-radius: 3px 3px 0 0;
    cursor: default;
}

.wrapper .form {
    height: calc(100% - 100px);
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 3px 3px;
}

.form div:first-of-type {
    margin-top: 20px;
}

.form div {
    text-align: center;
    position: relative;
    width: 240px;
    margin: 0px auto;
}

.form div span {
    position: absolute;
    top: 17px;
    left: 0;
    color: #b8babc;
}

.form div input {
    width: 240px;
    height: 30px;
    line-height: 30px;
    padding: 0px 25px;
    box-sizing: border-box;
    margin: 13px 0;
    transition: border-bottom-color 0.2s;
    border-bottom: 1px solid #e5e5e5;
}

.form div input:hover {
    border-bottom-color: #c1c1c1;
}

.form div input:focus + span {
    color: #12b7f5;
}

.form div input:focus {
    border-bottom-color: #12b7f5;
}

.form div input.login-btn {
    border: none;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    background-color: #06bcfc;
    color: #fff;
    box-shadow: 0 0 5px #06bcfc;
    transition: background-color 0.2s;
    font-size: 16px;
    margin-top: 15px;
}

.form div input.login-btn:hover {
    background-color: #1fc7fd;
}

.form div .msg {
    position: absolute;
    top: 7px;
    left: 20px;
    width: 130px;
    height: 25px;
    line-height: 25px;
    z-index: 5;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #588297;
    border-radius: 3px;
    box-shadow: 0 0 2px #000;
    display: none;
}

.wrapper a {
    position: absolute;
    bottom: 7px;
    left: 10px;
    color: #a6a6a6;
    font-size: 14px;
}

.wrapper a:hover {
    color: #838383;
}

@media (max-width: 576px) {
    .wrapper {
        width: 100%;
    }
}

