@import "http://at.alicdn.com/t/font_1986058_ht704wgx75n.css";

:root {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
    background-color: #eee;
}

.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: linear-gradient(to right, #333, #111, #aaa);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

.header .search {
    margin-left: 20px;
    position: relative;
}

.search .search-box {
    height: 35px;
    padding: 0px 10px;
    width: 250px;
    border-radius: 5px;
}

.search .search-submit {
    height: 35px;
    padding: 0px 20px;
    cursor: pointer;
    background-color: rgb(110, 110, 110);
    vertical-align: -2px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.search .search-back {
    height: 35px;
    padding: 0px 10px;
    background-color: #45b145;
    vertical-align: -2px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    visibility: hidden;
    border-radius: 5px;
}

.search span {
    position: absolute;
    left: 8px;
    top: 56px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    display: none;
}

.search .search-box:focus + span {
    display: block;
}

.header .logout {
    position: absolute;
    right: 0;
    background-color: rgb(36, 36, 36);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    height: 100%;
    padding: 0 20px;
}

.header .title {
    color: #fff;
    margin-left: 3rem;
}
.header .title .icon {
    font-size: 2.5rem;
}

.header .title span {
    float: left;
    font-weight: 600;
    font-size: 1.5rem;
    text-shadow: 0px 6px 6px #ccc;
    padding: 0 2px;
    animation: jumping 0.8s infinite alternate;
}

@keyframes jumping {
    0% {
        transform: translateY(0px);
        text-shadow: 0px 6px 6px #ccc;
    }
    100% {
        transform: translateY(-20px);
        text-shadow: 0px 16px 6px #ccc;
    }
}

.header .title span:nth-of-type(2) {
    animation-delay: 0.2s;
}
.header .title span:nth-of-type(3) {
    animation-delay: 0.4s;
}
.header .title span:nth-of-type(4) {
    animation-delay: 0.6s;
}
.header .title span:nth-of-type(5) {
    animation-delay: 0.8s;
}
.header .title span:nth-of-type(6) {
    animation-delay: 1s;
}

.header .expan-btn {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    transition: transform 0.3s;
    display: none;
}

.header .expan-btn span {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    margin: 5px 0;
}

.header .expan-btn:hover {
    transform: scale(1.2) translateY(-50%);
}

.header .expan-btn:hover span {
    animation: rotate 2s infinite 0.2s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.drop-list {
    position: absolute;
    top: 70px;
    left: 0;
    background: linear-gradient(#333, #222, #111);
    width: 100vw;
    z-index: 999;
    text-align: center;
    color: #aaa;
    font-size: 1.1rem;
    padding: 20px 0;
    display: none;
}

.drop-list li {
    line-height: 60px;
    cursor: pointer;
    position: relative;
}

.drop-list li::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0px;
    background-color: #ddd;
    transition: width 0.2s;
}

.drop-list li:hover {
    color: #fff;
}

.drop-list li:hover::after {
    width: 65px;
}

.menu {
    position: fixed;
    top: 70px;
    left: 0px;
    height: calc(100% - 70px);
    width: 200px;
    padding: 1rem 0 0 2rem;
    box-sizing: border-box;
    background: linear-gradient(rgb(77, 74, 74), #222, #111);
    transition: left 0.3s;
}

.main {
    margin: 70px 0px 0px 200px;
    height: calc(100% - 70px);
    width: calc(100% - 200px);
    position: absolute;
    transition: margin-left 0.3s, width 0.3s;
    overflow: auto;
}

.menu dl {
    line-height: 40px;
    color: #fff;
}

.menu dl dt {
    font-size: 1.1rem;
}

.menu dl dd {
    text-align: center;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
    color: #ccc;
    transition: background-color 0.2s;
}

.menu dd:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.menu dl dd.active {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-weight: 600;
}

.main .content-item {
    position: absolute;
    width: 100%;
    display: none;
}

.main .content-item.show {
    display: block;
}

.student-list table {
    width: 100%;
    text-align: center;
    line-height: 30px;
    border-spacing: 1px;
}

.student-list thead {
    background-color: rgb(217, 217, 217);
    line-height: 40px;
    color: rgb(51, 51, 51);
    font-size: 18px;
}

.student-list thead th,
.student-list tbody td {
    white-space: nowrap;
}

.student-list tbody {
    background-color: #fff;
}

.student-list table .btn {
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.student-list table .btn.edit {
    background-color: #5cb85c;
}

.student-list table .btn.delete {
    background-color: #d9534f;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.modal::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    z-index: 99999;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.form {
    width: 400px;
    margin: 25px auto 0;
}

.form div {
    margin: 10px 0;
}

.form div label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.form div input {
    height: 30px;
    width: 200px;
    padding: 0 5px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
}

.form div label.sex {
    width: auto;
    margin-right: 5px;
}

.form div input.sex {
    width: 20px;
    vertical-align: -10px;
}

.form div .btn {
    height: auto;
    width: auto;
    padding: 8px 24px;
    background-color: rgb(26, 115, 232);
    color: #fff;
    border: none;
    font-size: 16px;
}

.form div .btn:nth-of-type(2) {
    background-color: #5cb85c;
}

.main .student-chart {
    padding: 50px 0 0 100px;
    box-sizing: border-box;
    transition: padding-left 0.3s;
}

.main .student-chart .address-chart,
.main .student-chart .sex-chart {
    width: 500px;
    height: 500px;
}

@media (max-width: 768px) {
    .header .expan-btn {
        display: block;
    }
    .header .title {
        position: absolute;
        width: max-content;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .header .search {
        display: none;
    }
    .menu {
        left: -200px;
    }
    .main {
        margin-left: 0;
        width: 100vw;
    }
    .header .drop-list {
        display: block;
    }
    .main .student-chart {
        padding-left: 30px;
    }
}
